<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <div style="padding-top: 9%;">
    <div class="container">
        <div class="d-flex justify-content-center"></div>
        <br>
        <h3>Welcome!</h3>
        
        <p>You can login using your name</p>
        
        <form method="post" th:action="@{/sessions}" th:object="${session}" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
                
                <label class="form-label"></label>
                <input type="text" size="50" class="form-control" name="fullName" th:field="*{fullName}" placeholder="Write your name here please">
           
            </div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>


            <button type="submit" class="btn btn-success">Login!</button>
        </form>
    </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>