<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <main>

        <div class="d-flex justify-content-center">
        <h2>&#128161 Suggestions For  <span th:text="${sessionName}"> </span></h2>
        </div>
      

          


        <br>
        <div class="parent-container d-flex">
          <div class="container">
            <div class="row">
                <div class="col-md-6">
    



        <div class="container" style="border: 3px solid  #039233;">
         
          <h4>Hey <span th:text="${sessionName}"></span>, how about?</h4>
          <br>
          
          <div th:if="${place.rating le 0}">
            <h4>That's all the suggestions we have! &#128531;</h4>
          </div>
          
          
            <h3 th:text="${place.displayName}">place name</h3>

            <p th:text="${place.address}">place address</p>

            <p>Rating: <span th:text="${place.rating}"></span><span> Stars</span></p>

            <p>Price Level: <span th:text="${place.priceLevel}"></span></p>

            <p>Price Range: <span th:text="${place.lowerPriceRange}"></span><span> to </span> <span th:text="${place.upperPriceRange}"></span> <span>SGD</span></p>


            <a class="btn btn-primary" th:href="@{${place.googleMapsUrl}}" target="_blank">Open in Google Maps</a>
            <br>
          <br/>
          

      </div>
      <br>

      <form method="post" th:action="@{/suggestion/shortlist}" th:object="${place}">
        <div class="mb-3">
          <input type="hidden" class="form-control" name="id" th:field="*{id}" placeholder="id">
          <input type="hidden" class="form-control" name="displayName" th:field="*{displayName}" placeholder="displayName">
          <input type="hidden" class="form-control" name="googleMapsUrl" th:field="*{googleMapsUrl}" placeholder="googleMapsUrl">
      </div>
  
        <button type="submit" class="btn btn-success">Keep In My ShortList! Show Next Suggestion</button>
    </form>

      <form method="post" th:action="@{/suggestion}" th:object="${place}">
        <div class="mb-3">
          <input type="hidden" class="form-control" name="id" th:field="*{id}" placeholder="id">
      </div>

        <button type="submit" class="btn btn-warning">Suggest Anything Else!</button>
    </form>

   
  
    <br>
    <br>
    <br>
    <br>
    <a class="btn btn-danger" th:href="@{/sessions/clear}">Logout session</a>
    <br>

  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
          <tr>
              <h2><th>Your Shortlist! &#129651;  &#128195;</th></h2>

          </tr>
      </thead>
      <tbody>
          <tr th:each="s, state: ${shortListObjects}">
              <div th:if="${state.size gt 0}">
                <td th:utext="${s.placeName}"></td>
                <td><a class="btn btn-primary" th:href="@{${s.googleMapsUrl}}" target="_blank">Visit on Google Maps</a>
              </div>
              <div th:if="${state.size le 0}">
                  Nothing in your shortlist yet!
              </div>
          </tr>
      </tbody>
  </table>
</div>

</div>


    <br>
    <br>
    <a class="btn btn-primary" th:href="@{/apikey/redis/fordemo}">(demo) Places Stored in Redis</a>
    <a class="btn btn-primary" th:href="@{/apikey/fordemo}">(demo) Json received</a>

  </div>
    
      


        
    </main>
    <script src="index.js"></script>
  </body>
</html>